# STT (Speech-to-Text) Requirements
numpy>=1.24.0
sounddevice==0.4.6
scipy
faster-whisper
torch


# TTS(text-to-speech) Requirements
pyttsx3==2.90

#intent_parser
openai>=1.0.0
faster-whisper>=0.6.0
requests>=2.31.0
pyttsx3>=2.90




